.container {
    background-color: var(--Blue);
    position: sticky;
    top: 0;
    left: 0;
    .container_wrapper{
        display: flex;
        justify-content:space-between;
        align-items: center;
        span{
            color: var(--White);
            font: Bold 2em 'Montserrat', sans-serif; 
            text-transform: uppercase;
        }
    }
}