.container {
    padding: 2rem 0;
    .questao{
        p{
            font: normal 2rem "Open-Sans", sans-serif;
            margin-bottom: 10px;
        }
        span{
            font: normal 1rem "Open-Sans", sans-serif !important;
        }
        & + .questao{
           margin-top: 2rem; 
        }
        .correctAnswer span{
            color: rgb(53, 172, 53) !important;
        }
        .erro{
            color: #d32f2f;
        }
        .acerto{
            color: rgb(53, 172, 53);
        }
    }
}
